## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from configuration import map_api_key

# Configure gmaps
gmaps.configure(api_key=map_api_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Butaritari,KI,82.08,light rain,3.07,172.79,Isles Sunset Lodge
1,4,Hilo,US,82.40,overcast clouds,19.73,-155.09,Hilo Hawaiian Hotel
2,15,Port Macquarie,AU,82.99,clear sky,-31.43,152.92,Rydges Port Macquarie
3,20,Kapaa,US,82.40,broken clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
4,25,Atuona,PF,78.01,clear sky,-9.80,-139.03,Villa Enata
...,...,...,...,...,...,...,...,...
113,678,Kulhudhuffushi,MV,82.98,overcast clouds,6.62,73.07,Haajy Guest House 1
114,679,Acarau,BR,80.94,scattered clouds,-2.89,-40.12,castelo pizzaria
115,692,Tual,ID,83.91,moderate rain,-5.67,132.75,Grand Vilia Hotel
116,699,Marawi,PH,80.47,overcast clouds,8.00,124.29,Derogongan Residence
117,703,Gigmoto,PH,78.89,moderate rain,13.78,124.39,Cj's Travellers Inn

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Maximum Temperature</dt><dd>{Max Temp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [37]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 4b. Display the figure
fig = gmaps.figure()
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Emerald']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Emerald']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Alice Springs']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Yulara']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Swan Hill']
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
42,225,Emerald,AU,82.99,clear sky,-23.53,148.17,The Irish Village

In [62]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()[0][5], vacation_start.to_numpy()[0][6]
end = vacation_start.to_numpy()[0][5],vacation_start.to_numpy()[0][6]
stop1 = vacation_stop1.to_numpy()[0][5],vacation_stop1.to_numpy()[0][6]
stop2 = vacation_stop2.to_numpy()[0][5],vacation_stop2.to_numpy()[0][6]
stop3 = vacation_stop3.to_numpy()[0][5],vacation_stop3.to_numpy()[0][6]

In [63]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
waypoints = [stop1,stop2,stop3]
direction_layer = gmaps.directions_layer(start,end, waypoints=waypoints, travel_mode="DRIVING")
fig = gmaps.figure()
fig.add_layer(direction_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [66]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,225,Emerald,AU,82.99,clear sky,-23.53,148.17,The Irish Village
1,472,Alice Springs,AU,89.60,dust,-23.70,133.88,Desert Palms Alice Springs
2,241,Yulara,AU,84.20,clear sky,-25.24,130.99,Desert Gardens Hotel - Ayers Rock Resort
3,574,Swan Hill,AU,83.50,light rain,-35.34,143.55,Lazy River Motor Inn

In [75]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = f"""
<dl>
<dt>City Name</dt><dd>{'{City}'}</dd>
<dt>Country Code</dt><dd>{'{Country}'}</dd>
<dt>Weather Description</dt><dd>{'{Current Description}'}</dd>
<dt>Maximum Temperature</dt><dd>{'{Max Temp}'}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [78]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, hover_text="", info_box_content=hotel_info)
# 11b. Display the figure
fig=gmaps.figure()
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))